@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 20px;
    background-color: rgb(142, 173, 29)
}

* {
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

input,
textarea {
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px, 30px;
    width: 100%;
}

button {
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px.30px;

}

.header {
    display: flex;
    /* default ( varsayılan ayar) olarak row yapar flex-direction yazmaya gerek yok */
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;

}

.footer {
    display: flex;
    justify-content: space-around;
    border-top: 4px dotted black;
    color: black;
    padding: 30px 20px;
    margin-top: 50px;
    font-weight: 600;

}

.menu a {
    font-weight: 800;
    font-size: 25px;

}

.menu a:visited {
    color: white;

}

.menu a:hover {
    color: blueviolet;
}

.content .about {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 50px;
    width: 60%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 50px;

}

.about img {
    width: 300px;
    height: 300px;
    border: 5px solid white;
    border-radius: 250px;

}

.section{
    width: 60%;
   
}

.section .card{
    display: flex;
    border: 4px solid black;
    border-radius: 10px;
    background-color: gold;
    padding: 10px;
    margin: 10px;
    align-items: center;
}

.section .card .left{
    flex: 2;

}

.section .card .right{
    flex: 2;

}

.contactForm{
    width: 60%;
    
}